@mixin shadow($blur, $spreed, $color) {
    box-shadow: 0 5px $blur $spreed $color;
}

@mixin transition($args...) {
    transition: $args;
}

@mixin skewX($deg) {
    transform: skewX($deg);
}

@mixin skewY($deg) {
    transform: skewY($deg);
}

* {
    box-sizing: border-box;
}

html {
    min-width: 100vw;
    min-height: 100vh;
}

@keyframes bg-position {
    0% { background-position: -100px 0; }
    100% { background-position: -1900px 0; }
}

body {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: block;
    font: #{$font-size}/1.5 $main-font, sans-serif;
    font-weight: normal;
    color: white;
    background: url('../img/background.jpg') repeat fixed 0 0px;
    animation: bg-position 15s linear infinite;
    transform: translateZ(0);

    @media only screen and (max-width: 1750px) {
        font-size: #{$font-size * .88};
    }

    @media only screen and (max-width: 1600px) {
        font-size: #{$font-size * .84};
    }

    @media only screen and (max-width: 1500px) {
        font-size: #{$font-size * .82};
    }

    @media only screen and (max-width: 1400px) {
        font-size: #{$font-size * .82};
    }

    @media only screen and (max-width: 1350px) {
        font-size: #{$font-size * .78};
    }

    @media only screen and (max-width: 1250px) {
        font-size: #{$font-size * .75};
    }

    @media only screen and (max-width: 1024px) {
        height: auto;
        min-height: 100vh;
        overflow-y: auto;
    }

    @media only screen and (max-width: 730px) {
        font-size: #{$font-size * .8};
    }
}


// backround overlay
body:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #2D2D2D;
    opacity: .94;
    z-index: -1;
}

.black-gradient {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    display: block;
    background: linear-gradient(to top, rgba(black, .8), transparent);
    z-index: -1;
}

#app {
    position: relative;
    height: 100vh;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2.5em 0 5em;
    justify-content: space-between;

    @media only screen and (max-width: 1500px) {
        padding: 0 1em 0 3em;
    }

    @media only screen and (max-width: 1400px) {
        padding: 0 1em 0 3em;
    }

    @media only screen and (max-width: 1250px) {
        padding: 0 1em 0 1.5em;
    }

    @media only screen and (max-width: 1024px) {
        position: relative;
        flex-direction: column;
        min-height: 100vh;
        padding: 1em 0;
    }

    @media only screen and (max-width: 730px) {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

h1, h2, h3, h4 {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    font-style: italic;
}

h1 {
    font-size: 5.2em;

    @media only screen and (max-width: 1400px) {
        font-size: 4.8em;
    }

    @media only screen and (max-width: 1250px) {
        font-size: 4.4em;
    }

    @media only screen and (max-width: 720px) {
        font-size: 3.2em;
    }

    @media only screen and (max-width: 520px) {
        font-size: 2.8em;
    }
}

a {
    color: white;
    text-decoration: none;
}

::-webkit-input-placeholder { 
    color: rgba(white, .7);
}

::-moz-input-placeholder { 
    color: rgba(white, .7);
}

input:focus::-webkit-input-placeholder { 
    color: transparent;
}

input:focus::-moz-input-placeholder { 
    color: transparent;
}

@keyframes music-icon {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}