.intro-title {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: -50px;

    @media only screen and (max-width: 1024px) {
        margin-top: 2em;    
        flex: 0 0 auto !important;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    @media only screen and (max-width: 530px) {
        flex-direction: column;
        text-align: center;
    }
    
    > img {
        width: 20em;
        height: auto;
        align-self: center;
        margin-bottom: 3em;
        animation: music-icon 100s linear infinite;

        @media only screen and (max-width: 1400px) {
            width: 19em;
        }

        @media only screen and (max-width: 1250px) {
            width: 18em;
        }

        @media only screen and (max-width: 1024px) {
            width: 16em;
        }

        @media only screen and (max-width: 720px) {
            width: 12em;
        }

        @media only screen and (max-width: 520px) {
            width: 11em;
            margin-bottom: 2em;
        }
    }
    
    h1 {
        position: relative;
        margin: 0 0 1rem;

        @media only screen and (max-width: 1024px) {
            margin-left: .5em;
        }

        @media only screen and (max-width: 720px) {
            margin-left: 1em;
            padding-top: .3em;
        }

        @media only screen and (max-width: 520px) {
            margin-left: 0;
            margin-bottom: 1em;
            padding-top: 0;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            width: 200%;
            height: 1.23em;
            bottom: .12em;
            left: -95%;
            background-color: $sec-color;
            z-index: -1;
            @include shadow(80px, 4px, rgba(black, .5));
            @include skewX(-24deg);

            @media only screen and (max-width: 1350px) {
                bottom: .12em;
            }

            @media only screen and (max-width: 1024px) {
                display: none;
            }
        }
    }
    
    p {
        font-size: .9em;
        opacity: .4;

        @media only screen and (max-width: 1024px) {
            display: none;
        }
    }
}

.social {
    position: absolute;
    display: block;
    bottom: 2em;
    left: 3em;

    @media only screen and (max-width: 1024px) {
        display: none;
    }
    
    ul {
        list-style: none; 
        
        li {
            display: block;
            list-style: none;
            float: left;
            margin-right: 1.3em;
            opacity: .4;
            @include transition(all .3s ease);
            
            a, a:hover {
                font-size: .9em;              
            }
            
            img {
                display: inline-block;
                width: auto; 
                height: 1em;
                margin-bottom: -2px;
                margin-right: .4em;
            }
            
            &:hover {
                opacity: 1;
            }
        }
    }
}

.find {
    flex: 1.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    align-content: stretch;
    padding: 5em;
    background: $prim-color;
    @include shadow(100px, 0, rgba(black, .8));
    @include skewX(-24deg);

    @media only screen and (max-width: 1250px) {
        padding-left: 3.5em;
        padding-right: 2em;
    }

    @media only screen and (max-width: 1024px) {
        flex: 0 0 auto !important;
        padding: 4em 2em;
        @include skewX(0);
        @include skewY(-3deg);
    }

    > * {
        @include skewX(24deg);

        @media only screen and (max-width: 1024px) {
            @include skewX(0);
            @include skewY(3deg);
        }
    }
    
    form {
        position: relative;
        margin-bottom: 4em;

        @media only screen and (max-width: 1250px) {
            padding-right: 3em;
        }

        @media only screen and (max-width: 1024px) {
            padding-right: 0;
        }
        
        p {
            font-size: .8em;
            font-weight: 800;
            letter-spacing: .1em;
            color: black;
            opacity: .5;
        }
        
        .suggestions {
            position: absolute;
            left: 0;
            top: 6.2em;
            width: 100%;
            max-height: 0;
            display: flex;
            cursor: pointer; 
            overflow: hidden;
            @include shadow(100px, 0, rgba(black, .4));
            @include transition(all .5s $ease);
            
            &.active {
                max-height: 100%;
            }

            ul {
                flex: 1 1 100%;
                display: flex;
                list-style: none;
                margin: 0;
                padding: .5em 2em;
                background-color: $sec-color;
                flex-direction: column;

                li {
                    display: flex;
                    padding: .5em 0;
                    font-family: $sec-font;
                    font-weight: bold;
                    font-size: 1.2em;
                    letter-spacing: .2em;
                    color: white;
                }
            }
        }
        
        .no-artist {
            @extend .suggestions;
            background-color: black;
            display: flex;
            max-height: 0;
            padding: 0;
            cursor: inherit;
            overflow: hidden;
            
            &.active {
                max-height: 100%;
                padding: .5em 1em;
            }
            
            p {
                color: white;
                font-weight: normal;
                letter-spacing: 0;
                font-size: 1.1em;
                opacity: 1;
            }
            
            a {
                text-decoration: underline;
            }
        }
    }
    
    input[type="search"] {
        position: relative;
        width: 94%;
        margin: 0;
        padding: 1em 0;
        outline: none;
        border: none;
        background: transparent;
        font-size: 2.2em;
        font-family: $sec-font;
        letter-spacing: .3em;
        color: white;
        z-index: 1;

        @media only screen and (max-width: 520px) {
            font-size: 1.8em;
        }
    }
    
    .input-divider {
        display: flex;
        height: 8px;
        margin-top: -1.4em;
        background: url('../img/wawy-div.png') repeat-x 0 0;
        overflow: hidden;

        @media only screen and (max-width: 1400px) {
            background: url('../img/wawy-div-medium.png') repeat-x 0 0;
        }

        @media only screen and (max-width: 770px) {
            background: url('../img/wawy-div-small.png') repeat-x 0 0;
        }
    }
    
    button {
        position: absolute;
        top: 35%;
        right: 1%;
        display: inline-block;
        transform: translateY(-30%);
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 9;

        @media only screen and (max-width: 1250px) {
            right: 6%;
        }

        @media only screen and (max-width: 1024px) {
            right: 0;
        }
        
        &:hover {
            transform: translateY(-35%);
        }
        
        img {
            width: 2.4em;
            height: auto;

            @media only screen and (max-width: 520px) {
                width: 1.9em;
            }
        }
    }
}

ul.tags {
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    
    li {
        position: relative;
        margin: 0 4.4em 2em -1.8em;

        @media only screen and (max-width: 1750px) {
            margin-right: 4em;
        }

        @media only screen and (max-width: 1350px) {
            margin-right: 3.5em;
        }

        @media only screen and (max-width: 1024px) {
            margin-left: 0;
            margin-right: 2em;
        }

        
        &:first-child {
            margin-left: 0;    
        }
        
        &:last-child {
            margin-right: 0;    
        }
        
        a {
            padding: .5em 0;
            color: black;
            font-size: 1.1em;
            font-weight: 800;
            font-style: italic;
            text-transform: lowercase;
            @include transition(all .1s ease);
            
            &:after {
                content: "";
                position: absolute; 
                bottom: -3px;
                left: -1px;
                width: 15px;
                height: 3px;
                display: block;
                background-color: black;  
                @include transition(all .4s $ease);

                @media only screen and (max-width: 1500px) {
                    bottom: -4px;
                    height: .2em;
                }

                @media only screen and (max-width: 1350px) {
                    bottom: -2px;
                    height: 2px;
                }
            }
            
            &:hover {
                color: white;
            }
            
            &:hover:after {
                width: 100%;
                background-color: white; 
            }
        }
    }
    
    &.white-tags {
        li {
            a {
                color: white;
                text-transform: none;
                        
                &:after {
                    background-color: white;
                }
                
                &:hover {
                    color: black;
                }
                
                &:hover:after {
                    background-color: black;
                }
            }
        }
    }
}