@mixin shadow($blur, $spreed, $color) {
    box-shadow: 0 5px $blur $spreed $color;
}

@mixin transition($args...) {
    transition: $args;
}

@mixin skewX($deg) {
    transform: skewX($deg);
}

@mixin skewY($deg) {
    transform: skewY($deg);
}

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    position: fixed;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: block;
    font: #{$font-size}/1.5 $main-font, sans-serif;
    font-weight: normal;
    color: white;
    background-color: #2D2D2D;

    @media only screen and (max-width: 1750px) {
        font-size: #{$font-size * .88};
    }

    @media only screen and (max-width: 1600px) {
        font-size: #{$font-size * .84};
    }

    @media only screen and (max-width: 1500px) {
        font-size: #{$font-size * .82};
    }

    @media only screen and (max-width: 1400px) {
        font-size: #{$font-size * .82};
    }

    @media only screen and (max-width: 1350px) {
        font-size: #{$font-size * .78};
    }

    @media only screen and (max-width: 1250px) {
        font-size: #{$font-size * .75};
    }

    @media only screen and (max-width: 1024px) {
        height: auto;
        min-height: 100vh;
        overflow-y: auto;
    }

    @media only screen and (max-width: 730px) {
        font-size: #{$font-size * .8};
    }
}

$bg-width: 1800px;

.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    width: $bg-width;
    height: 100%;
    padding-right: 100%;
    box-sizing: content-box;

    background-image: url('/static/background.jpg');
    background-size: $bg-width auto;
    opacity: 0.06;

    font-size: 0;
    white-space: nowrap;

    animation: bg-scroll 30s linear infinite;
}

@keyframes bg-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-$bg-width);
    }
}

.black-gradient {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(black, .8), transparent);
    z-index: 2;
}

#app {
    position: relative;
    z-index: 3;
    height: 100vh;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 2.5em 0 5em;
    justify-content: space-between;

    @media only screen and (max-width: 1500px) {
        padding: 0 1em 0 3em;
    }

    @media only screen and (max-width: 1400px) {
        padding: 0 1em 0 3em;
    }

    @media only screen and (max-width: 1250px) {
        padding: 0 1em 0 1.5em;
    }

    @media only screen and (max-width: 1024px) {
        position: relative;
        flex-direction: column;
        min-height: 100vh;
        padding: 1em 0;
    }

    @media only screen and (max-width: 730px) {
        justify-content: flex-start;
        align-items: flex-start;
    }
}

h1, h2, h3, h4 {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: -0.05em;
    font-style: italic;
}

h1 {
    font-size: 5.2em;

    @media only screen and (max-width: 1400px) {
        font-size: 4.8em;
    }

    @media only screen and (max-width: 1250px) {
        font-size: 4.4em;
    }

    @media only screen and (max-width: 720px) {
        font-size: 3.2em;
    }

    @media only screen and (max-width: 520px) {
        font-size: 2.8em;
    }
}

a {
    color: white;
    text-decoration: none;
}

::-webkit-input-placeholder { 
    color: rgba(white, .7);
}

::-moz-input-placeholder { 
    color: rgba(white, .7);
}

input:focus::-webkit-input-placeholder { 
    color: transparent;
}

input:focus::-moz-input-placeholder { 
    color: transparent;
}

@keyframes music-icon {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}
